.loading-container {
  position: fixed; /* Đảm bảo chiếm toàn màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen mờ */
  display: flex; /* Sử dụng flexbox để căn giữa */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  z-index: 9999; /* Đảm bảo nằm trên tất cả các thành phần khác */
  color: white; /* Màu chữ trắng */
}

.loading-container p {
  margin-top: 16px; /* Khoảng cách giữa spinner và text */
  font-size: 16px; /* Kích thước chữ */
  font-weight: bold;
}
